<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>knowyourcountry.DataServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/2010/item/19/*</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>CORS</filter-name>
        <servlet-name>DataServlet</servlet-name>
    </filter-mapping>

</web-app>
